@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: #D5E1EF;
	height: 97vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.box {
	background-color: hsl(0, 0%, 100%);
	width: 320px;
	height: 497px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
	align-items: center;
	gap: 24px;
}

.box .imagem {
	display: flex;
	position: relative;
	width: 288px;
	height: 288px;
}

.box .imagem img {
	position: absolute;
	border-radius: 20px;
	width: 100%;
	height: 100%;
}

.box .descricao {
	display: flex;
	flex-direction: column;

}
